:root {
    --color-linkedin: #0A66C2;
  }

main.contacto{
    display: flex;
}
.btn.linkedin, .btn.linkedin>*{
    background-color: var(--color-linkedin);
    color: white;
    border-color: var(--color-linkedin);
    margin: auto;
}

.btn.linkedin .fa-brands{
    margin-right: 0.5rem;
    color: white;
}