.perfil{
    display: flex;
    margin: auto;
    max-width: 60vw;
}
.perfil figure{
    text-align: center;
}
.perfil img{
    max-width: 200px;
}



@media screen and (max-width: 800px) {
    .perfil{
        flex-direction: column;
        font-size: 4vw;
        max-width: none;
    }
        
    .perfil figure{
        margin-top: 50px;
    }
}